<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>Account</display-name>
	<description>Sample - renamed MicroWebApp</description>
	<servlet>
		<servlet-name>IOBound</servlet-name>
		<display-name>IOBound</display-name>
		<servlet-class>com.ibm.wsmm.services.IOBound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>memBound</servlet-name>
		<display-name>memBound</display-name>
		<servlet-class>com.ibm.wsmm.services.memBound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CPUBound</servlet-name>
		<display-name>CPUBound</display-name>
		<servlet-class>com.ibm.wsmm.services.CPUBound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sleepBound</servlet-name>
		<display-name>sleepBound</display-name>
		<servlet-class>com.ibm.wsmm.services.sleepBound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CpuAndSleepBound</servlet-name>
		<display-name>CpuAndSleepBound</display-name>
		<servlet-class>com.ibm.wsmm.services.CpuAndSleepBound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionWLMServlet</servlet-name>
		<display-name>SessionWLMServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.SessionWLMServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DB2SelectServlet</servlet-name>
		<display-name>DB2SelectServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.DB2SelectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TiberoSelect</servlet-name>
		<display-name>TiberoSelect</display-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.TiberoSelect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LeakServlet</servlet-name>
		<display-name>LeakServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.LeakServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LeakTestServlet</servlet-name>
		<display-name>LeakTestServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.LeakTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LeakServlet2</servlet-name>
		<description></description>
		<servlet-class>com.ibm.juwlee.poc.LeakServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IOBound</servlet-name>
		<url-pattern>/IOBound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>memBound</servlet-name>
		<url-pattern>/memBound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPUBound</servlet-name>
		<url-pattern>/CPUBound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sleepBound</servlet-name>
		<url-pattern>/sleepBound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CpuAndSleepBound</servlet-name>
		<url-pattern>/CpuAndSleepBound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionWLMServlet</servlet-name>
		<url-pattern>/SessionWLMServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DB2SelectServlet</servlet-name>
		<url-pattern>/DB2SelectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TiberoSelect</servlet-name>
		<url-pattern>/TiberoSelect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeakServlet</servlet-name>
		<url-pattern>/LeakServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeakServlet2</servlet-name>
		<url-pattern>/LeakServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeakTestServlet</servlet-name>
		<url-pattern>/LeakTestServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
