<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	JNDITestWAR</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		SessionCallServlet</display-name>
		<servlet-name>SessionCallServlet</servlet-name>
		<servlet-class>
		ejbs.servlet.SessionCallServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PostTestServlet</display-name>
		<servlet-name>PostTestServlet</servlet-name>
		<servlet-class>
		ejbs.servlet.PostTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionCallServlet</servlet-name>
		<url-pattern>/SessionCallServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostTestServlet</servlet-name>
		<url-pattern>/PostTestServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<ejb-ref id="EjbRef_1243398390640">
		<description>
		</description>
		<ejb-ref-name>ejb/SessionBeanCall</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.ibm.juwlee.ejbTest.SessionBeanCallHome</home>
		<remote>com.ibm.juwlee.ejbTest.SessionBeanCall</remote>
		<ejb-link>JNDITestEJB.jar#SessionBeanCall</ejb-link>
	</ejb-ref>
</web-app>
